@import "tailwindcss";

body {
  overflow-y: auto;              /* allow vertical scrolling */
  scrollbar-width: none;         /* Firefox */
  -ms-overflow-style: none;      /* IE/Edge */
}

body::-webkit-scrollbar {
  display: none;                 /* Chrome, Safari */
}
    