
@import "tailwindcss";


@theme {
  --color-landingpage-bg-blue :  #5B9BA5;
  --color-primary-blue: #1C4C74;
  --color-bg-light-blue: #DEF2FF;
  --color-bg-primary-white : #FFFFFF
}

body {
  overflow-y: auto;              /* allow vertical scrolling */
  scrollbar-width: none;         /* Firefox */
  -ms-overflow-style: none;      /* IE/Edge */
}

body::-webkit-scrollbar {
  display: none;                 /* Chrome, Safari */
}

.scrollbar::-webkit-scrollbar-thumb{
  border-radius: 0;
  border: 0; /* creates gap effect */
}

.scrollbar-none{
  scrollbar-width: none;                /* Firefox */
}


.red-hat-display {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>;
  font-style: normal; */
}


@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slideIn {
  animation: slideIn 0.3s ease-out;
}


/* Hide scrollbar but keep scrollable */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
